* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: auto;
}

body {
  font-family: arial, sans-serif;
  color: rgba(0,0,0,0.87);
  font-size: 13px;
}

/* DEFAULT  */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none
}

/* FOR THE HEADER */
/* header {  background: indianred; } */

.nav-bar {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar li { padding-right: 20px;}

.nav-bar li:nth-child(1):hover,
.nav-bar li:nth-child(2):hover {
  text-decoration: underline;
  opacity: 0.75;
} 

.nav-bar li:nth-child(3) {
  font-size: 1rem;
  opacity: 0.6;
}

.nav-bar li:nth-child(3):hover { opacity: 0.8; }

.nav-bar li:nth-child(4) img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  padding: 2px;
}

/* FOR THE MAIN SECTION */
.main-section {
  height: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 109px;
  margin: 0 auto;
}

.main-section #main-logo {
  width: 280px;
}

.main-section .search-bar {
  width: 582px;
  height: 44px;
  border: 1px solid lightgray;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 15px;
}

.main-section .search-bar:hover {
  -webkit-box-shadow: 0px 1px 5px 1px rgba(156,156,156,0.3);
  -moz-box-shadow: 0px 1px 5px 1px rgba(156,156,156,0.3);
  box-shadow: 0px 1px 5px 1px rgba(156,156,156,0.3);
}

.main-section .search-bar #magnify {
  height: 13px;
  padding: 1px;
}

.main-section .search-bar input {
  width: 100%;
  margin: 0 1rem;
  font-size: 16px;
  border: none;
}

.main-section .search-bar input:focus {
  outline: none;
}
.main-section .search-bar #mic {
  height: 17px;
  padding-right: 3px;
  cursor: pointer;
}

.main-section .search-buttons {
  margin-bottom: 25px;
}
.main-section .search-buttons button {
  margin-top: 1.5rem;
  padding: 7px 16px;
  background: #f2f2f2;
  color: #5F6368;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  overflow: hidden;
}

.main-section .search-buttons button:hover {
  border: 1px solid rgba(73, 70, 70, 0.15);
  border-bottom-width: 1.5px;
}

.main-section .search-buttons button:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

.main-section p a {color: blue;}
.main-section p a:hover {text-decoration:underline;}

/* FOR THE FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: indianred;
  height: 80px;
  border-top: 1px solid #e4e4e4;
  background: #f2f2f2;
  overflow: hidden;
}

footer .location {
  display: block;
  line-height: 35px;
  color: rgba(0,0,0,.54);
  padding-left: 25px;
}

footer .main-footer {
  padding: 0 25px;
  height: 45px;
  border-top: 1px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5f6368;
}

footer .main-footer ul { display: flex; }
footer .main-footer ul li { padding-right: 25px; }
footer .main-footer ul li:last-child { padding-right: 0px; }
footer .main-footer ul li a:hover { text-decoration: underline; }


